.albums-wrapper {
    display: flex;
    max-width: 100%;
    border-top: 2px solid $grey;
    border-bottom: 2px solid $grey;

    .albumContainer {
        margin: 0 10px;
        border: 1px solid $black;
        flex: 1;

        .image-wrapper {
            height: 200px;
        }

        .albumDetails {
            border-top: 1px solid $darkgreen;
        }
    }
}