.albums-wrapper {
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    border-top: 2px solid $grey;
    border-bottom: 2px solid $grey;
    padding: 20px 10px;

    .albumContainer {
        margin: 10px;
        border: 1px solid $black;
        flex: 1 0 20%;
        overflow: hidden;
        transition: box-shadow 0.3s;
        cursor: pointer;

        &:hover {
            box-shadow: 0px 0px 5px 3px $grey;
            .image-wrapper {
                transform: scale(1.2);
            }
        }

        .image-wrapper {
            transition: transform 0.3s;
            height: 250px;
            width: 100%;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center center;
            margin: auto;
            overflow: hidden;
        }

        .album-details {
            position: relative;
            z-index: 1;
            padding: 10px;
            background-color: $darkgreen;

            .title {
                display: block;
                color: $white;
                font-weight: 900;
                font-size: $font-sub-header;
                width: 100%;
                text-align: center;
            }

            .timestamp-wrapper {
                display: flex;
                .timestamp {
                    flex: 1;
                    color: $grey;
                    font-size: $font-small;
                }
                .timestamp:nth-child(2) {
                    text-align: right;
                }
            }
        }
    }
}