
// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: "Nunito", sans-serif;
$font-small: 0.8rem;
$font-regular: 1rem;
$font-sub-header: 1.4rem;
$font-header: 1.7rem;

// Colors
$green: #05704c;
$lightgreen: #a0dbc7;
$darkgreen: #044730;
$orange: #bc6903;
$white: #f4f4f4;
$black: #111111;
$grey: #999999;
$darkgrey: #353535;
$blue: #1d58b7;
$red: #9e0401;
