
// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: "Nunito", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$green: #05704c;
$lightgreen: #a0dbc7;
$darkgreen: #044730;
$orange: #bc6903;
$white: #dbdbdb;
$black: #111111;
$grey: #999999;
$darkgrey: #353535; 

