.imageModal-wrapper {
    position: absolute;
    top: 1.25vh;
    left: 1.25%;
    height: 97.5vh;
    z-index: 99;
    box-shadow: 0 0 5px 3px $grey;
    width: 97.5%;
    background-color: $grey;

    .imageModal-content {
        
        .imageModal-header {
            position: relative;
            background-color: $darkgreen;
            color: $white;
            text-align: right;
            padding: 2px 5px;
            z-index: 2;
            
            a {
                cursor: pointer;
                font-size: $font-header;
                transition: color 0.3s;

                &:hover {
                    color: $grey;
                }
            }
        }

        .image-information {
            position: absolute;
            width: 100%;
            z-index: 2;
            background-color: rgba(0, 0, 0, 0.6);
            transition: background-color 0.3s;
            padding: 5px 10px;
            text-align: center;

            p {
                font-size: $font-sub-header;
                color: $grey;
            }

            .image-input {
                width: 100%;

                input, textarea {
                    text-align: center;
                    margin: auto;
                }

                input {
                    display: block;
                    width: 40%;
                    margin-bottom: 2px;
                    font-size: $font-header;
                }
    
                textarea {
                    display: block;
                    width: 70%;
                    font-size: $font-sub-header;
                }
            }
        }

        .image-wrapper {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            overflow: hidden;

            img {
                position: relative;
                z-index: 1;
                height: auto;
                max-width: 90%;
                cursor: zoom-in;
            }

            .arrow {
                position: absolute;
                height: 100%;
                width: 5%;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: $font-header;
                opacity: 0.5;
                cursor: pointer;

                &:hover {
                    i {
                        color: $green;
                    }
                }
            }

            .right-arrow {
                right: 0;
                text-align: right;
            }

            .left-arrow {
                left: 0;
            }
        }

        .imageModal-footer {
            position: absolute;
            bottom: 0;
            background-color: rgba(0, 0, 0, 0.7);
            transition: background-color 0.3s;
            padding: 5px 10px;
            width: 100%;
            z-index: 2;
            display: flex;

            .like-counter {
                color: $white;
                padding: 0 3px;
                margin-right: 5px;
            }

            span {
                flex: 1;
            };
            span:last-child {
                text-align: right;
            }

            i {
                font-size: $font-sub-header;
                color: $white;
                cursor: pointer;
                transition: color 0.3s;
            }

            i:hover {
                color: $green;
            }
            
            &:hover {
                background-color: $black;
            }
        }
    }

    .image-settings-wrapper {
        position: relative;

        .image-settings {
            position: absolute;
            bottom: 0;
            background-color: $white;
            box-shadow: 0 0 1px 1px $grey;
        }

        .settings-link {
            border-bottom: 1px solid $black;
            display: block;
            padding: 5px 10px;
            color: $black;
            transition: 
                color 0.3s, 
                background-color 0.3s;

            &:hover {
                color: $lightgreen;
                background-color: $black;
                cursor: pointer;
                font-weight: 900;
            }
        }
    }
}