@keyframes spinner {
    0% {
        transform: translate3d(-50%, -50%, 0) rotate(0deg);
    }
    100% {
         transform: translate3d(-50%, -50%, 0) rotate(360deg);
    }
}

.loading-widget {
    height: 100%;
    position: absolute;
    left: 50%;
    opacity: 1;
    transition: opacity linear 0.1s;
    z-index: 999;
    &::before {
        animation: 1.4s linear infinite spinner;
        border: solid 3px $grey;
        border-bottom-color: $green;
        border-radius: 50%;
        content: "";
        height: 40px;
        left: 50%;
        opacity: inherit;
        position: absolute;
        top: 50%;
        transform: translate3d(-50%, -50%, 0);
        transform-origin: center;
        width: 40px;
        will-change: transform;
    }
}