.individualAlbum {
    width: 90%;
    margin: 0 auto;
    padding: 20px 0;

    .album-information {
        min-height: 60px;
        padding-left: 1.6%; // same as image margin in components/_image.scss

        .inline {
            display: inline-block;
        }
        h1 {
            color: $grey;
        }
        h1,input {
            font-size: $font-header;
            padding: 0 10px;
        }
    }

    .menu {
        position: relative;
        display: inline-block;

        &:hover {
            .album-dropdown {
                display: block;
            }
        }
    }

    .icon {
        cursor: pointer;
        padding: 0 2px;
        margin: 0 3px;

        i {
            color: $green;
            transition: color 0.3s;
            
            &:hover {
                color: $darkgreen;
            }
        }
    }

    .delete {
        i {
            color: $red;
        }
    }

    .images {
        display: flex;
        flex-wrap: wrap;
        overflow-y: scroll;

        :nth-child(4n) {
            margin-left: 0;
            margin-right: 0;
        }
    }
}

@media only screen and (max-width: $medium) {
    .individualAlbum {
        height: 100vh;
        overflow-y: scroll;
        width: 100%;

        .album-information {
            min-height: auto;

            h1,input {
                font-size: $font-sub-header;
            }
        }
    }
}
