.dashboard-wrapper {

    .account-actions {
        margin-top: 10px;
        span {
            display: inline-block;
            width: 50%;
        }
        .edit {
            color: $blue;
            &:hover {
                text-decoration: underline;
            }
        }
        .delete {
            color: $red;
            &:hover {
                text-decoration: underline;
            }
        }
    }
    
}