.navigation-wrapper {
    position: relative;
    display: flex;
    padding: 2px;
    height: 50px;
    z-index: 99;

    .navigation {
        font-size: 1.25rem;
        
        li {
            display: inline-block;
        }

        .main-links {
            display: inline-block;
        }

        .main-link {
            display: block;
            padding: 5px;
            margin: 0 10px;
            color: $darkgrey;
            &:hover {
                border-bottom: 4px solid $darkgreen;
            }
        }
        .nav-title {
            display: inline-block;
            font-size: 1.4rem;
            margin-right: 3rem;
            a {
                color: $green;
                &:hover {
                    color: $darkgreen;
                }
            }
        }

        .mobile-menu {
            display: none;
        }
    }

    .navigation-left {
        flex: 3;
    }

    .navigation-right {
        flex: 1;
        text-align: right;
        margin-right: 10px;
        a {
            &:hover {
                font-weight: 600;
            }
        }
    }

    .user-dropdown-menu {
        text-align: center;

        li {
            display: block;
        }
        a {
            color: $white;
            display: block;
            background-color: $green;
            padding: 3px 12px;
            &:hover {
                background-color: $darkgreen;
            }
        }
    }

    .user-clicked {
        border-left: 2px solid $darkgrey;
        border-right: 2px solid $darkgrey;
        border-bottom: 2px solid $darkgrey;
    }
    
    .rotate-arrow {
        font-size: 1.2rem;
        color: $grey;
        margin-right: 2px;
    }
    .rotate-up {
        transform: rotate(180deg);
        transition: transform 0.5s;
    }
    .rotate-down {
        transform: none;
        transition: transform 0.5s;
    }
}

@media only screen and (max-width: $medium) {
    .navigation-wrapper {
        height: auto;
        width: 100%;
        background-color: $darkgreen;
        display: block;
        padding-bottom: 0;

        .navigation {
            font-size: $font-small;

            li {
                display: none;
            }
            
            .nav-title {
                font-size: $font-regular;
                padding: 5px;

                a {
                    color: $white;
                }
            }

            .mobile-menu {
                display: inline-block;
                position: absolute;
                right: 5px;
                color: $grey;
                padding: 3px;
                font-size: $font-regular;
            }
        }

        .navigation-right {
            display: none;
        }
    }
}